.container {
	width: 1024px;
	margin: 0 auto;
}

.header h1 {
	color: #5C3584;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 50;
	font-style: initial;
	text-align: center;
}

.img {
	text-align: center;
}

.summary {
	text-align: left;
	font-size: large;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.summary a:hover {
	font-size: 20px;
	color: rgb(180, 15, 15);

}

.description, li{
	font-family: 'Times New Roman', Times, serif;
	font-size: 17px;
}

.menu {
	width: 100%;
	display: table;
}

.menu ul {
	display: table-row;
}

.menu li {
	display: table-cell;
	background: #7bdef7;
}

.menu ul li:hover,
.menu a:hover {
	background: #666;
	color: antiquewhite;
}

.menu li a {
	display: block;
	padding: 8px 15px;
	color: rgb(107, 101, 101);
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	font-family: 'Trebuchet MS';
}

.containment li {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 17px;
	list-style-type: square;
}

.containment a {
	text-decoration: none;
}

.containment h3 {
	margin-top: 5%;
}

.client h2 {
	margin-top: 5%;
	margin-bottom: 0.5%;
}



.server h3 {
	color: rgb(54, 54, 54);
	margin-bottom: 0.5%;
	margin-left: 2.5%;
}

.serverText p {
	font-family: 'Gill Sans';
}

table {
	border-collapse: collapse;
	background: rgb(192, 233, 154);
    color: rgb(8, 8, 8);
}

th,
td {
	padding: 10px;
}

caption {
	margin: 10px;
	font-size: 25px;
}
h2{
	text-align: center;
}